<%-include("partials/header"); -%>

<h1 class="post-header">Cars | Trucks Listings</h1>
<a href="/carsCompose">
  <button class="btn btn-primary" type="submit">Post listing</button>
</a>

<h1>Today listings:</h1>

<!-- car post home page -->

<% carsPosts.forEach(function(carPost){ %>
<hr />

<a href="/carsPosts/<%=carPost.carTitle%>"><h3><%=carPost.carTitle%></h3></a
><span><b>Price: </b> $<%= carPost.carPrice %></span>

<%}) %>

<hr />

<%-include("partials/footer"); -%>
