<%-include("partials/header"); -%>

<div class="display-content-wrapper">
  <h3><%= electronicTitle %></h3>
  <p><%= electronicDescription %></p>
  <p><b>Price:</b> $<%=electronicPrice%></p>
  <p><b>Phone:</b> <a href="<%=electronicTel%>"><%=electronicTel%></a></p>
  <p><b>Location:</b> <%=electronicLocation%></p>
  <p><b>Brand:</b> <%=electronicBrand%></p>
  <p><b>Model:</b> <%=electronicModel%></p>
  <p><b>Color:</b> <%=electronicColor%></p>
</div>
<%-include('partials/footer'); -%>
