<%-include("partials/header"); -%>

<h1 class="post-header">Phones | Computers | Tablets</h1>
<a href="/electronicsCompose">
  <button class="btn btn-primary" type="submit">Post listing</button>
</a>

<!-- <h1>Today listings:</h1> -->

<% electronicsPosts.forEach(function(electronicPost){ %>
<a href="/electronicsPosts/<%=electronicPost.electronicTitle%>"
  ><h3><%=electronicPost.electronicTitle%></h3></a
>
<span>Price $<%= electronicPost.electronicPrice %></span>
<hr />

<%}) %> <%-include("partials/footer"); -%>
