<%-include("partials/header"); -%>
<h1>Today listings:</h1>
<p><%= startingContent %></p>

<% posts.forEach(function(post){ %>
<a href="/posts/<%=post.title%>"><h3><%=post.title%></h3></a
><span>Price $<%= post.price %></span>

<!-- car post home page -->
<% posts.forEach(function(carPost){ %>
<a href="/carsPosts/<%=carPost.carTitle%>"><h3><%=post.title%></h3></a
><span>Brand: $<%= carPost.carBrand %></span>

<%}) %>

<hr />
<!-- <p><%=post.description %></p> -->
<%}) %> <%-include('partials/footer'); -%>
