<%-include("partials/header"); -%>

<div class="body-content">
  <p class="home-intro-text"><%= startingContent %></p>
  <div class="home-listing-wrapper">
    <h1 class="today-listing">Today listings:</h1>

    <%posts.forEach(function(post){ %>
    <a href="/posts/<%=post.title%>">
      <h3 class="title-alink"><%=post.title%></h3></a
    ><span class="title-alink">Price $<%= post.price %></span>

    <!-- car post home page -->

    <%}) %>

    <!-- rendering posts from cars listing page -->

    <% carsPosts.forEach(function(carPost){ %>
    <hr />

    <a href="/carsPosts/<%=carPost.carTitle%>"
      ><h3 class="title-alink"><%=carPost.carTitle%></h3></a
    ><span class="title-alink"><b>Price: </b> $<%= carPost.carPrice %></span>

    <%}) %>

    <hr />
    <!-- rendering posts from electronic listing page -->

    <% electronicsPosts.forEach(function(electronicPost){ %>
    <!-- <i><%=electronicPost.electronicDate%></i> -->
    <a
      class="title-alink"
      href="/electronicsPosts/<%=electronicPost.electronicTitle%>"
    >
      <h3 class="link-title title-alink">
        <%=electronicPost.electronicTitle%>
      </h3></a
    >
    <p class="title-alink">
      <b>Price:</b> $<%= electronicPost.electronicPrice %>
    </p>
    <hr />

    <%}) %>
  </div>
</div>
<%-include('partials/footer'); -%>
