<%-include("partials/header"); -%>

<!-- <h1 class="post-header">Buy | Sell | Rent</h1>
<center><h4>Real Estate in Guinea</h4></center>
<a href="/compose">
  <button class="btn btn-primary" type="submit">Post listing</button>
</a> -->

<h1>Today listings:</h1>
<p><%= startingContent %></p>

<% posts.forEach(function(post){ %>
<a href="/posts/<%=post.title%>"><h3><%=post.title%></h3></a
><span>Price $<%= post.price %></span>

<!-- car post home page -->

<hr />
<!-- <p><%=post.description %></p> -->
<%}) %>

<!-- rendering posts from cars listing page -->

<% carsPosts.forEach(function(carPost){ %>
<hr />

<a href="/carsPosts/<%=carPost.carTitle%>"><h3><%=carPost.carTitle%></h3></a
><span><b>Price: </b> $<%= carPost.carPrice %></span>

<%}) %>

<hr />

<%-include('partials/footer'); -%>
