<%-include("partials/header"); -%>

<h3><%= title %></h3>
<p><%= description %></p>
<p><b>Price: </b>$<%= price %></p>
<p><b>Tel: </b><%= tel %></p>
<p><b>Location: </b><%=location%></p>
<%-include('partials/footer'); -%>
