<%-include("partials/header"); -%>
<div class="display-content-wrapper">
  <h3><%= title %></h3>
  <p><%= description %></p>
  <p><b>Price: </b>$<%= price %></p>
  <p><b>Tel: </b><a href="#"><%= tel %></a></p>
  <p><b>Location: </b><%=location%></p>
  <%-include('partials/footer'); -%>
</div>
