<%-include("partials/header"); -%>

<h1 class="post-header">Buy | Sell | Rent</h1>
<center><h4>Real Estate in Guinea</h4></center>
<a href="/compose">
  <button class="btn btn-primary" type="submit">Post listing</button>
</a>

<!-- <h1>Today listings:</h1> -->
<% posts.forEach(function(post){ %>
<a class="title-alink" href="/posts/<%=post.title%>"
  ><h3 class="title-alink"><%=post.title%></h3></a
><span class="title-alink">Price $<%= post.price %></span>

<!-- car post home page -->

<hr />
<!-- <p><%=post.description %></p> -->
<%}) %> <%-include("partials/footer"); -%>
